   
    <body class="d-flex flex-column h-100 ">
        <main class="flex-shrink-0">
 
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Professional Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Web Application</h2>
                                            <p> Integrated the “StackZelo” module into an e-learning
                                                application, enhancing its collaborative programming 
                                                and technical knowledge-sharing capabilities.</p>
                                        </div>
                                        <img class="img-fluid" src="../../../assets/images/StackZelo.png" alt="Image1"  width="400" height="300" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Desktop Application</h2>
                                            <p>Development of a desktop application aimed at 
                                                simplifying the creation and efficient management 
                                                of functional test messages by leveraging 
                                                Google Protocol Buffers for data 
                                                serialization.</p>
                                        </div>
                                        <img class="img-fluid" src="../../../assets/images/protoBufers.png" alt="Image2"  width="400" height="300" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-5">
                                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Academic Projects</span></h1>
                            </div>
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">DevOps Project</h2>
                                            <p> Establishment of a continuous integration and delivery (CI/CD) pipeline 
                                                for a Spring Boot and Angular application
                                                with automated source code management and quality control.</p>
                                        </div>
                                        <img class="img-fluid" src="../../../assets/images/DevOps.png" alt="Image5"  width="400" height="300" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 3-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Web Application</h2>
                                            <p> Web application that meets the standards of the modern
                                                world in terms of performance,reliability, security as a
                                                solution to help “ESPRIT” newcomers to discover the
                                                school's environment.</p>
                                        </div>
                                        <img class="img-fluid" src="../../../assets/images/Project.png" alt="Image3"  width="400" height="300" />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 4-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Web Application</h2>
                                            <p>  Design, conception and development of an e-learning Platform offering
                                                several features to facilitate the online tutorials.</p>
                                        </div>
                                        <img class="img-fluid" src="../../../assets/images/ElMadersa.png" alt="Image4" width="400" height="300" />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/contact">Contact me</a>

                    </div>
                </div>
            </section>
        </main>
 
    </body>
 